fastapi==0.111.0
uvicorn[standard]==0.30.1
python-multipart==0.0.9
aiofiles==23.2.1
pydantic==2.7.1
pydantic-settings==2.3.1
python-dotenv==1.0.1
sqlalchemy==2.0.30
openai-whisper==20231117
openai>=1.30.0
ffmpeg-python==0.2.0
scenedetect
piper-tts
httpx
torch
torchaudio
numpy<2.0.0
